<div class="floor_plan">
  <% @tables.each do |table| %>
    <h1><%= table["name"] %></h1>
    <table class="tables" id="<%=table["name"]%>">
      <% table["rows"].each do |row| %>
        <tr>
          <% for j in 1..table["tables"] %>
            <td class="table" style="width:<%= @longest_name * table["seats_per_table"] %>em">
              <% for i in 1..table["seats_per_table"] %>
                <div class="seat" style="width:<%= 100 / table["seats_per_table"] %>%">
                  <% seat_name = row + ((j-1)*table["seats_per_table"] + (i-1)).to_s %>
                  <% user = User.where(:table => table["name"], :seat => seat_name).first %>
                  <% if !user.nil? %>
                    <%= user.username %>
                  <% else %>
                    <%= seat_name %>
                  <% end %>
                </div>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
