<% def add_seat(table_name, seat_name)%>
	<% user = User.where(:table => table_name, :seat => seat_name).first %>
	<% if user && user.provider == 'steam' %>
		<div class="seat" data-html=true data-placement="bottom" data-ajaxload="/users/<%= user.uid %>/tooltip">
	<% else %>
		<div class="seat">
	<% end %>
		<% if user %>
			<%= user.username %>
		<% else %>
			<%= seat_name %>
		<% end %>
		</div>
<% end %>

<div class="floor_plan">
  <% @tables.each do |table| %>
    <h1><%= table["name"] %></h1>
		<div class="tables container" id="<%=table["name"]%>">
			<!-- Left End Table -->
			<% if KanLan::END_TABLES[table["name"]].include? "L" %>
				<div class="left_end_table end_table col-sm-1">
					<% for i in 1..table["seats_per_table"] %>
						<% seat_name = KanLan::LEFT_TABLE_NAME + (i-1).to_s %>
						<% add_seat table["name"], seat_name %>
					<% end %>
				</div>
			<% end %>

			<!-- Main Tables -->
			<div class="col-sm-10">
				<div class="table_rows">
				<% table["rows"].each do |row| %>
					<div class="table_row">
						<% for j in 1..table["tables"] %>
							<div class="real_table">
								<% for i in 1..table["seats_per_table"] %>
									<% seat_num = (j-1)*table["seats_per_table"] + (i-1) %>
									<% seat_name = row + seat_num.to_s %>
									<% add_seat table["name"], seat_name %>
								<% end %>
							</div>
						<% end %>
					</div>
				<% end %>
				</div>
			</div>

			<!-- Right End Table -->
			<% if KanLan::END_TABLES[table["name"]].include? "R" %>
				<div class="right_end_table end_table col-sm-1">
					<% for i in 1..table["seats_per_table"] %>
						<% seat_name = KanLan::RIGHT_TABLE_NAME + (i-1).to_s %>
						<% add_seat table["name"], seat_name %>
					<% end %>
				</div>
			<% end %>

		</div>
	<% end %>
</div>
