<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:"form-signin form-compact", role: "form"}) do |f| %>
	<h2 class="form-heading">Log in</h2>

	<%= f.text_field :username, autofocus: true, required: true, class: "form-control", placeholder: "Username" %>
	<%= f.password_field :password, autocomplete: "off", required: true, class: "form-control", placeholder: "Password" %>

	<% if devise_mapping.rememberable? -%>
		<div class="checkbox">
			<%= f.label :remember_me do %>
				<%= f.check_box :remember_me %> Remember me
			<% end %>
		</div>
	<% end -%>

	<%= button_tag "Log in", type: :submit, name: :commit, class: "btn btn-lg btn-success btn-block" %>
<% end %>
