<div class="container-float">
	<% @posts.each_slice(2) do |pair| %>
			<% pair.each do |post| %>
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<div class="pull-left">
								<h1 class="panel-title"><%= post.game.name %></h1>
								<% unless post.params.nil? or post.params.empty? %>
									<h2 class="panel-subtitle"><%= post.params %></h2>
								<% end %>
							</div>
							<% if user_signed_in? %>
								<div class="pull-right">
									<% if post.users.include? current_user %>
										<%= button_to "Remove me", {action: :rm_user, id: post.id}, method: :delete, form_class: "edit_post_users_form", class: "btn btn-default btn-sm" %>
									<% else %>
										<%= button_to "Add me", {action: :add_user, id: post.id}, method: :post, form_class: "edit_post_users_form", class: "btn btn-default btn-sm" %>
									<% end %>
								</div>
							<% end %>
						</div>
						<ul class="list-group">
							<% post.users.each do |user| %>
								<li class="list-group-item"><%= user.username %></li>
							<% end %>
						</ul>
					</div>
				</div>
			<% end %>
	<% end %>
</div>
