<h1>Create a new post</h1>

<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div class="Error">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @post.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  <%= f.label :game %>
  <%= f.collection_select(:game, Game.find(:all, :order => "name"), :id, :name, :prompt => true) %>
  </p>
  <p>
  <%= f.label :params, "Game Parameters" %>
  <%= f.text_field :params, :placeholder => "eg GunGame on cs_office" %>
  </p>
  <p><%= link_to "Add a new game", games_new_path %></p>
  <p class="button"><%= f.submit %></p>
<% end %>
