<!DOCTYPE html>
<html>
<head>
  <title>KanLan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="nav_bar">
			<% if user_signed_in? %>
				Signed in as <%= current_user.username %> <%= link_to "Account", edit_user_registration_path %> <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to "Log in", new_user_session_path %> <%= link_to "Login with Steam", user_omniauth_authorize_path(:steam) %> <%= link_to "Sign up", new_user_registration_path %>
			<% end %>
		</div>

		<div class="flash">
			<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, :id => name %>
			<% end %>
		</div>

		<%= yield %>

	</div>
</body>
</html>
